name: Security Scan
on: [push, pull_request]

jobs:
  trivy-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'            # Scans your file system (codebase)
          scan-ref: '.'
          format: 'table'            # Shows results in simple table
          exit-code: '1'             # Fails the pipeline if viruses are found
          severity: 'CRITICAL,HIGH'  # Only stops for big problems
